cffi==1.9.1
cryptography==1.7.1
enum34==1.1.6
idna==2.2
inflection==0.3.1
ipaddress==1.0.18
more-itertools==2.5.0
ndg-httpsclient==0.4.2
numpy==1.12.0
pandas==0.19.2
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
python-dateutil==2.6.0
pytz==2016.10
Quandl==3.0.1
requests==2.12.5
six==1.10.0
